* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #BFD7E4;
}

body::before {
  content: "";
  width: 100%;
  height: 485px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 127px;
  margin-bottom: 32px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 36px;
  font-weight: normal;
  color: white;
  text-align: center;
}

header p {
  font-size: 16px; 
  color: white;
  text-align: center;
  margin-bottom: 24px;
}

form {
  background: white;
  border-radius: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  margin-bottom: 100px;
}

form > h2 {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  color: white;
  background: #F67669;
  padding: 50px;
}

fieldset {
  border: none;
  padding: 0 64px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #535971;
  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

fieldset h2 {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  font-weight: normal;
  color: #535971;
  width: 100%;
  margin-bottom: -8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  width: 300px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

.col-2,
.col-3 {
  display: flex;
  gap: 20px;
}

.col-2 > div,
.col-2 > div {
  flex: 1;
}
.col-3 > div:nth-child(1) {
  flex: 2;
}

.button {
  height: 56px;
  background: #F67669;
  border: 0;
  border-radius: 8px;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  font-weight: normal;
  color: white;
  margin: 32px 64px 64px;
}

.button:hover {
  background: #fa6150;
}

input:invalid {
  border: 1px solid #ff1010;
}
